<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title display-4 text-primary">Dashboard</h1>
            <p class="card-text lead mb-3 text-success">Welcome <%= user.name %>
                <i class="fas fa-user-circle"></i></p>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</div>
